<app-loader [show]="loader"></app-loader>
<div class="container-fluid pr-5 pl-5 animated fadeIn">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb [paginas]="['Inicio','Eventos','Lista de eventos']"></app-breadcrumb>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-3 mb-5  buscador">
      <div class="d-flex align-items-center input-inmuse">
        <div class="icon-cont p-1">
          <i class="fa fa-search"></i>
        </div>
        <input class="form-control" placeholder="Buscar evento" type="text" [(ngModel)]="filtroBuscar" (keyup)="buscarEvento()">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12"> 
      <ul>
        <li *ngFor="let evento of arraEventos;let i = index;" class="animated fadeInUp" [ngStyle]="{'animation-delay.s':(0.25*i)}">
          <div class="img-cont">
              <div class="overlay-desactivado" *ngIf="!evento.blnActivo" >
                  <p>Desactivado</p>
                </div>
            <img [src]="evento.arrayStrImagen.length > 0? evento.arrayStrImagen[0]:'assets/images/banner-2.png'" class="w-100">
          </div>

          <p class="info-item">
           {{evento.strNombre}}
          </p>

          <div class="destacar">
            <label class="cont">Destacar en museo
              <input type="checkbox" [(ngModel)]="evento.blnDestacadaMuseo" (change)="marcarDestacado(evento)">
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="acciones">
            <button class="btn-inmuse" (click)="irEditarEvento(evento)"> <i class="fa fa-pencil"></i></button>
            <button class="btn-danger-inmuse" title="Desactivar" [ngClass]="{'desactivado' : !evento.blnActivo}" (click)="eliminarEvento(evento,i)"> <i class="fa fa-power-off"></i></button>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>