<app-loader [show]="loader" ></app-loader>

<div class="container-fluid pr-5 pl-5 animated fadeIn">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb [paginas]="['Inicio','Artistas',!artista._id? 'Nuevo artista' : 'Editar artista']"></app-breadcrumb>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" class="box-border-b" (ngSubmit)="submit()" >
        <div class="d-flex justify-content-between mb-5">
          <div class="btns">
            <label class="file-chooser w-50">
              <i class="fa fa-picture-o"></i> Seleccionar imagenes
              <input type="file" accept="image/*" multiple name="imagen" #inputFiles (change)="setPreview(inputFiles)">
            </label>
            <small id="emailHelp" class="form-text text-muted">Es recomendable incluir al menos una imagen.</small> 
          </div>

          <ul class="img-cont w-75" [ngClass]="{'has-elements' : artista.arrayStrImagen.length > 0}">
            <i class="fa fa-picture-o" *ngIf="artista.arrayStrImagen.length == 0"></i>
            <li *ngFor="let image of artista.arrayStrImagen; let i = index;" class="animated fadeInRight" [ngStyle]="{'animation-delay.s':(0.25*i)}">
              <a title="Remover imagen" (click)="removerImagen(i,inputFiles)" class="btn-inmuse round"><i class="fa fa-remove"></i></a>
              <img [src]="image" class="w-100">
            </li>
          </ul>

        </div>

        <div class="d-flex justify-content-between">
          <div class="form-group w-45">
            <label for="nombre-sala">Nombre del artista</label>
            <input type="text" class="form-control input-inmuse" [(ngModel)]="artista.strNombre" id="nombre-sala" formControlName="nombre"
              placeholder="Nombre del artista">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
          </div>
          <div class="form-group w-45">
            <label for="fecha-sala">Fecha</label>
            <div class="d-flex">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <input class="form-control input-inmuse" formControlName="fecha" [(ngModel)]="artista.dteNacimiento" [value]="artista.dteNacimiento" [matDatepicker]="picker" placeholder="Selecciona fecha">
                <mat-datepicker #picker></mat-datepicker>
              </div>             
          </div>
        </div>

        <div class="d-flex justify-content-start">
          <label class="file-chooser mr-5 w-25">
            <i class="fa fa-music"></i> Cargar descripción en audio
            <input type="file" accept="audio/*" (change)="setAudioPreview(inputAudio)" #inputAudio>
          </label>

          <audio controls *ngIf="artista.strAudioDescripcion" class="animated pulse faster">
            <source [src]="artista.strAudioDescripcion" type="audio/ogg">
            <source [src]="artista.strAudioDescripcion" type="audio/mp3">
          </audio>

        </div>

        <div class="form-group">
          <label>Datos curiosos</label>
          <div *ngFor="let dato of artista.arrayStrDatosCuriosos; let i = index;" class="dato-cont d-flex justify-content-between align-items-center animated pulse faster">
            <textarea class="form-control input-inmuse dato-curioso"  [name]="'datocurioso['+i+']'" [ngModelOptions]="{standalone: true}"
              cols="10" placeholder="Dato curioso" [(ngModel)]="dato"></textarea>
            <div class="d-flex flex-column ">
              <button type="button" title="Agregar dato curioso" *ngIf="(i+1) == artista.arrayStrDatosCuriosos.length" class="btn-inmuse"
                (click)="agregar()"> <i class="fa fa-plus"></i></button>
              <button type="button" itle="Quitar dato curioso" *ngIf="artista.arrayStrDatosCuriosos.length > 1" class="btn-danger-inmuse"
                (click)="quitar(i)"> <i class="fa fa-minus"></i></button>
            </div>
          </div>
        </div>

        <div class="form-group clearfix mt-5">
          <button class="btn-inmuse p-3 float-right" [disabled]="form.invalid" [ngClass]="{'btn-invalid':form.invalid}">{{!artista._id ? 'Añadir artista' : 'Actualizar artista'}}</button>
        </div>

      </form>
    </div>
  </div>
</div>