<app-loader [show]="loader"></app-loader>
<div class="container-fluid pr-5 pl-5 animated fadeIn">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb [paginas]="['Inicio','Estadísticas']"></app-breadcrumb>
    </div>
  </div>

  <div class="row justify-content-start d-flex">
    <div class="col-6 d-flex flex-column">
      <label> Filtrar estadísticas por:</label>
      <div class="d-flex justify-content-between">
        <div class="col-4 mb-5  buscador align-self-start form-group">
          <label class="cont">Año
            <input type="radio" [(ngModel)]="strTipo" name="filtro" value="ano" (change)="getEstaditicas()">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-4 mb-5  buscador align-self-start form-group">
          <label class="cont">Mes
            <input type="radio" [(ngModel)]="strTipo" name="filtro" value="mes" (change)="getEstaditicas()">
            <span class="checkmark"></span>
          </label>
        </div>
        <div class="col-4 mb-5  buscador align-self-start form-group">
          <label class="cont">Rango de fechas
            <input type="radio" [(ngModel)]="strTipo" value="rango" name="filtro">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>

    <div *ngIf="strTipo == 'rango'" class="d-flex justify-content-between w-50">

        <div class="col-6 mb-5  buscador form-group">
            <label> Fecha de inicio</label>
            <div class="d-flex align-items-center input-inmuse">
              <div class="icon-cont p-1">
                <i class="fa fa-calendar"></i>
              </div>
              <input class="form-control" placeholder="Filtrar por fecha" type="date" [(ngModel)]="filtroFechaInicio" (change)="getEstaditicas()">
            </div>
          </div>
          <div class="col-6 mb-5  buscador form-group">
            <label> Fecha final</label>
            <div class="d-flex align-items-center input-inmuse">
              <div class="icon-cont p-1">
                <i class="fa fa-calendar"></i>
              </div>
              <input class="form-control" placeholder="Filtrar por fecha" type="date" [(ngModel)]="filtroFechaFin" (change)="getEstaditicas()">
            </div>
          </div>    
    </div>
  </div>

  <div class="row">
    <div class="col-12 chart" *ngFor="let chart of arrayCharts">
      <p class="text-center chart-title">{{chart.strTitulo}}</p>
      <p class="chart-type-title">Tipos de gráfica disponibles</p>
      <ul>
        <li *ngFor="let tipo of chart.arrayTipo">
          <button type="button" class="btn-inmuse" (click)="chart.strTipo = tipo">{{tipo}}</button>
        </li>
      </ul>
      <canvas baseChart [datasets]="chart.arrayY" [labels]="chart.arrayX" [chartType]="chart.strTipo"></canvas>
    </div>
  </div>
</div>