<app-loader [show]="loader"></app-loader>
<div class="container-fluid pr-5 pl-5 animated fadeIn">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb [paginas]="['Inicio','Comentarios','Lista de comentarios']"></app-breadcrumb>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-2 mb-5  buscador align-self-start form-group">
      <label> Filtrar por</label>
        <select class="form-control input-inmuse" [(ngModel)]="filtroTipo" (change)="filtrarFeedback()">
          <option value="museo">Museo</option>
          <option value="sala">Sala</option>
          <option value="obra">Obra</option>
        </select>
    </div>
    <div class="col-2 mb-5  buscador align-self-start form-group" *ngIf="filtroTipo == 'sala'"> 
      <label> Salas</label>
      <select class="form-control input-inmuse" cols="20" [(ngModel)]="coleccion" id="descripcion-sala" (change)="filtrarFeedback()">
        <option value=" ">Todas</option>
        <option [value]="sala._id" *ngFor="let sala of salas" >{{sala.strNombre}}</option>
      </select>
    </div>
    <div class="col-2 mb-5  buscador align-self-start form-group" *ngIf="filtroTipo == 'obra'"> 
      <label> Obras</label>
      <select class="form-control input-inmuse" cols="20" [(ngModel)]="coleccion" id="descripcion-sala" (change)="filtrarFeedback()">
        <option value=" ">Todas</option>
        <option [value]="obra._id" *ngFor="let obra of obras" >{{obra.strTitulo}}</option>
      </select>
    </div>
    <div class="col-2 mb-5  buscador form-group">
      <label> Emociones</label>
      <select class="form-control input-inmuse" cols="20" [(ngModel)]="emocionElgida" id="descripcion-sala" (change)="filtrarFeedback()">
        <option value=" ">Todas</option>
        <option [value]="emocion" *ngFor="let emocion of emociones" >{{emocion | titlecase }}</option>
      </select>
    </div>
    <div class="col-2 mb-5  buscador form-group">
      <label> Fecha de inicio</label>
      <div class="d-flex align-items-center input-inmuse">
        <div class="icon-cont p-1">
          <i class="fa fa-calendar"></i>
        </div>
        <input class="form-control" placeholder="Filtrar por fecha" type="date" [(ngModel)]="filtroFechaInicio" (change)="filtrarFeedback()">
      </div>
    </div>
    <div class="col-2 mb-5  buscador form-group">
      <label> Fecha final</label>
      <div class="d-flex align-items-center input-inmuse">
        <div class="icon-cont p-1">
          <i class="fa fa-calendar"></i>
        </div>
        <input class="form-control" placeholder="Filtrar por fecha" type="date" [(ngModel)]="filtroFechaFin" (change)="filtrarFeedback()">
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="comentarios">
        <li *ngFor="let feedback of arrFeedback;let i = index;" class="animated fadeInRight comentario" [ngStyle]="{'animation-delay.s':(0.25*i)}">
          <div class="info-cont">
            <p class="comment">{{feedback.strComentario}}</p>
            <p class="emocion"> {{feedback.strEmocion? 'Reacción del visitante:' : 'No se reaccionó'}} <span *ngIf="feedback.strEmocion" >{{feedback.strEmocion | titlecase}}</span></p>
            <small class="form-text text-muted text-right">{{feedback.dteCreacion | date:'short'}}</small>
          </div>          
        </li>
      </ul>
    </div>
  </div>
</div>