<app-loader [show]="loader"></app-loader>
<div class="container-fluid pr-5 pl-5 animated fadeIn">
  <div class="row">
    <div class="col-12">
      <app-breadcrumb [paginas]="['Inicio','Obras','Lista de obras']"></app-breadcrumb>
    </div>
  </div>

  <div class="row justify-content-end">
    <div class="col-3 mb-5 ">
      <select class="input-inmuse form-control" (change)="filtroSalas(idSala)" [(ngModel)]="idSala">
        <option [selected]="!idSala" value="0">Todas las salas</option>
        <option [value]="sala._id" *ngFor="let sala of salas" >{{sala.strNombre}}</option>
      </select>
    </div>
    <div class="col-3 mb-5  buscador">
      <div class="d-flex align-items-center input-inmuse">
        <div class="icon-cont p-1">
          <i class="fa fa-search"></i>
        </div>
        <input class="form-control" placeholder="Buscar obra por nombre o sala" type="text" [(ngModel)]="filtroBuscar"
          (keyup)="buscarObra()">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul>
        <li *ngFor="let obra of arrObras; let i = index;" class="animated fadeInUp" [ngStyle]="{'animation-delay.s':(0.25*i)}">
          <div class="img-cont">
              <div class="overlay-desactivado" *ngIf="!obra.blnActivo" >
                  <p>Desactivado</p>
                </div>
            <img [src]="obra?.arrayStrImagen.length > 0 ? obra.arrayStrImagen[0]:'assets/images/Logo_InMuse.png'" class="w-100">
          </div>

          <p class="info-item">
            {{obra.strTitulo}}
          </p>

          <div class="destacar">
            <label class="cont">Destacar nivel museo
              <input type="checkbox" [(ngModel)]="obra.blnDestacadaMuseo" (change)="marcarDestacado(obra)">
              <span class="checkmark"></span>
            </label>
            <label class="cont">Destacar nivel sala
              <input type="checkbox" [(ngModel)]="obra.blnDestacadaSala" (change)="marcarDestacado(obra)">
              <span class="checkmark"></span>
            </label>
          </div>
          
          <div class="acciones">
            <button class="btn-inmuse" (click)="irEditarObra(obra)" title="Editar obra"> <i class="fa fa-pencil"></i></button>
            <button class="btn-danger-inmuse desactivado" [ngClass]="{'desactivado' : !obra.blnActivo}" (click)="eliminarObra(obra,i)" title="Desactivar"> <i class="fa fa-power-off"></i></button>
          </div>

        </li>
      </ul>
    </div>
  </div>
</div>